/*--------------------------------------------------------------
# Components Button
--------------------------------------------------------------*/
.btn {
  font-weight: $fw-light;
  letter-spacing: 0.05rem;

  font-size: 1rem;
  padding: 0.625rem 2.5rem;

  text-decoration: none;
  border-radius: 0.4rem;

  @media (max-width: 599px) {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
      background-color: $secondary;
      border-color: $secondary;
      color: $white;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($primary, 25%);
    }
  }

  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;
    // border-radius: 2rem;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($secondary, 25%);
    }
  }
}
