.first-section {
  padding-top: 12.5rem;
  padding-bottom: 5rem;

  @media (max-width: 767px) {
    padding-top: 7rem;
    padding-bottom: 2rem;
  }

  @media (max-width: 767px) {
    .invert-columns {
      flex-direction: column-reverse;

      img {
        margin-bottom: 2rem;
      }
    }
  }
}

.second-section {
  @media (max-width: 767px) {
    padding-top: 2rem;
  }

  @media (max-width: 767px) {
    img {
      margin-bottom: 2rem;
    }
  }
}

.third-section {
  @media (max-width: 767px) {
    .tab-content {
      padding: 20px;
      margin-top: 1rem;

      .d-flex {
        display: block !important;
      }
    }
  }
}

.fourth-section {
  svg {
    fill: #cf6dff;
    width: 22px;
  }
}

.fifth-section {
  background-color: $dark-bg-gray-lower;

  h6 {
    color: $text-dark;
    font-size: 0.9rem;
  }

  .bg-skills {
    background-color: #000;
    padding: 1rem;
    border: 1px solid $primary;
  }
}